.icon-heart{
    position: relative;;
    color: #D50000;
    top: 20%;
    left: 20%;
    font-size: 25px;
}
.CyrusLogoWhite{
    width: 110px;
    display:block;
    margin:auto;
    //height: 65px;
   }