<ion-header>
  <ion-toolbar _ngcontent-odn-c3="" color="danger" 
  ng-reflect-color="danger" 
  class="md ion-color ion-color-danger hydrated">
  <img _ngcontent-odn-c3="" class="CyrusLogoWhite" 
  margin-vertical="" no-margin="" 
  src="/assets/svg/cyrusLogo.svg" text-center="">
  </ion-toolbar>
  </ion-header>
    
  <ion-content color="tertiary">
      <ion-searchbar color="tertiary" showCancelButton="never"></ion-searchbar>
      <br><br>
  
      <ion-grid>
          <ion-row>
            <ion-col>
                <ion-icon name="heart" style="color:#D50000"> 
                  </ion-icon> <small style="color:#fff">&nbsp;Lorem ipsum, dolor sit amet</small>
            </ion-col>
          </ion-row>
      </ion-grid> 
        <!--cards how description-->
   <ion-card color="light" mode="ios">
      <img src="assets/images/3.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
        <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
         <br>
         <ion-grid>
           <ion-row>
             <ion-col>
                &nbsp;
             </ion-col>
             <ion-col>
                &nbsp;
              </ion-col>
              <ion-col>
                  <ion-icon name="heart" class="icon-heart"></ion-icon>
              </ion-col>
              <ion-col>
                  <ion-button shape="round" color="danger">see more</ion-button>
              </ion-col>
           </ion-row>
         </ion-grid>
      
        </ion-card-content>
    </ion-card>
    <br>
    <ion-grid>
        <ion-row>
          <ion-col>
              <ion-icon name="heart" style="color:#D50000;"> 
                </ion-icon> <small style="color:#fff">&nbsp;Lorem ipsum, dolor sit amet</small>
          </ion-col>
        </ion-row>
     </ion-grid> 
    <ion-card color="light" mode="ios">
        <img src="assets/images/2.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        <br>
        <ion-grid>
            <ion-row>
              <ion-col>
                 &nbsp;
              </ion-col>
              <ion-col>
                 &nbsp;
               </ion-col>
               <ion-col>
                  <ion-icon name="heart" class="icon-heart"></ion-icon>
               </ion-col>
               <ion-col>
                   <ion-button shape="round" color="danger">see more</ion-button>
               </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
    </ion-card>
    <br>
    <ion-grid>
        <ion-row>
          <ion-col>
              <ion-icon name="heart" style="color:#D50000;"> 
                </ion-icon> <small style="color:#fff">&nbsp;Lorem ipsum, dolor sit amet</small>
          </ion-col>
        </ion-row>
     </ion-grid> 
    <ion-card color="light" mode="ios">
        <img src="assets/images/1.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        <br>
        <ion-grid>
            <ion-row>
              <ion-col>
                 &nbsp;
              </ion-col>
              <ion-col>
                 &nbsp;
               </ion-col>
               <ion-col>
                  <ion-icon name="heart" class="icon-heart"></ion-icon>
               </ion-col>
               <ion-col>
                   <ion-button shape="round" color="danger">see more</ion-button>
               </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
    </ion-card>
    <br>
    <ion-grid>
        <ion-row>
          <ion-col>
              <ion-icon name="heart" style="color:#D50000;"> 
                </ion-icon> <small style="color:#fff">&nbsp;Lorem ipsum, dolor sit amet</small>
          </ion-col>
        </ion-row>
     </ion-grid> 
    <ion-card color="light" mode="ios">
        <img src="assets/images/3.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        <br>
        <ion-grid>
            <ion-row>
              <ion-col>
                 &nbsp;
              </ion-col>
              <ion-col>
                 &nbsp;
               </ion-col>
               <ion-col>
                  <ion-icon name="heart" class="icon-heart"></ion-icon>
               </ion-col>
               <ion-col>
                   <ion-button shape="round" color="danger">see more</ion-button>
               </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
    </ion-card>
    <br>
    <ion-grid>
        <ion-row>
          <ion-col>
              <ion-icon name="heart" style="color:#D50000;"> 
                </ion-icon> <small style="color:#fff">&nbsp;Lorem ipsum, dolor sit amet</small>
          </ion-col>
        </ion-row>
     </ion-grid> 
    <ion-card color="light" mode="ios">
        <img src="assets/images/1.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        <br>
        <ion-grid>
            <ion-row>
              <ion-col>
                 &nbsp;
              </ion-col>
              <ion-col>
                 &nbsp;
               </ion-col>
               <ion-col>
                  <ion-icon name="heart" class="icon-heart"></ion-icon>     
               </ion-col>
                <ion-col>
                   <ion-button shape="round" color="danger">see more</ion-button>
               </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
    </ion-card>
  
    
  </ion-content>
  