<ion-tabs>
  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="home" >
      <ion-icon name="home"></ion-icon>
      <!-- <ion-label>home</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="tab-user">
      <ion-icon name="person"></ion-icon>
      <!-- <ion-label>user</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="tab-search">
        <ion-icon name="search"></ion-icon>
        <!-- <ion-label>search</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="tab-promotions">
        <ion-icon name="star"></ion-icon>
        <!-- <ion-label>promotions</ion-label> -->
    </ion-tab-button>

    <ion-tab-button>
      <!-- <ion-icon name="menu" color="danger" slot="start"></ion-icon> -->
      
      <!-- <ion-label>menu</ion-label> -->
      <ion-menu-button></ion-menu-button>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

