<ion-header>
    <ion-toolbar color="danger"> 
        <img src="/assets/svg/cyrusLogo.svg"
        no-margin margin-vertical text-center class="CyrusLogoWhite">
    </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
    <ion-card color="light" mode="ios">
    <ion-card-header>
       <ion-card-title text-center>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card color="light" mode="ios">
      <ion-card-header>
         <ion-card-title text-center>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
    <ion-card color="light" mode="ios">
        <ion-card-header>
           <ion-card-title text-center>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
      <ion-card color="light" mode="ios">
          <ion-card-header>
             <ion-card-title text-center>Card Title</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
</ion-content>
