.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media screen and (min-width: 767px) {
    ion-card {
      width: 600px;
      margin: auto;
      
    }
  }
  ion-card {
    --background: #333333;
    box-shadow: none;
    -webkit-box-shadow: none;
    overflow: scroll;
  }
  .input {
    background-color: #333333;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 9px;
    font-size: 0.9em !important;
    color: #fff;
  }
  .white {
    color: white;
  }
  
  .small {
    font-size: 13px;
    a {
      text-decoration: unset !important;
    }
  }
  .button-color {
   background-color: var(--ion-color-mytheme);
  }
  .logo {
    width: 1.25em !important;
  }
  .grid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  // .img-logo {
  //   height: 150px;
  //   width: 150px;
  // }
  .fire-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    
  }
  .bold {
    font-weight: bold;
  }
  .block {
    display: block;
    color: #fff;
  }
  .transition {
    background: linear-gradient(to right, #333333 14%, #333333 96%);
    border: 1px solid #fff;
    border-radius: 5px;
    color:#fff;
  }
  .btn-color {
    color: #ffa000;
  }
  .error {
    color: red;
    text-align: center;
    display: block;
    font-weight: bold;
  }
  .btn-facebook{
    color: #E1F5FE !important;
    border: 1px solid #E1F5FE;
    border-radius: 5px;
    
  }
  
  .btn-google{
    background: #FFEBEE;
    border: 1px solid #fff;
    border-radius: 5px;
    // width: 100px;
    
  }
  
  // .btn-Log{
  //   position:absolute;
  //   width: 150px;
  //   left: 90px;
  // }
  // @media screen and (max-width: 414px){
  //     btn-Log{
  //       position:relative;
  //       width: 170px;
  //       left: 90px;
  //     }
  // }