
<ion-content class="ion-no-padding" color="tertiary">
    <div class="main">
      <ion-card class="no-margin">
        <ion-card-content>
          <ion-row class="row">
            <div class="fire-logo">
               <img src="assets/svg/logo-login.png" class="img-logo">
              <ion-text>
                <h2 class="ion-no-margin ion-margin-vertical ion-text-center">Welcome to CyrusApp</h2>
              </ion-text>
            </div>
          </ion-row>
         <form [formGroup]="user" (ngSubmit)="login()">
          <ion-row>
            <ion-col>
              <ion-input clearInput type="email" formControlName="email" type="email"  class="input ion-padding-horizontal" 
                clear-input="true" placeholder="Email"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input clearInput formControlName="password" type="password" class="input ion-padding-horizontal"
                 clear-input="true" placeholder="Password"></ion-input>
            </ion-col>
          </ion-row>
          <br>
          <ion-row>
            <ion-col>
              <ion-button expand="block" type="submit" [disabled]="!user.valid" 
              color="danger" mode="ios">
                <strong class="white">
                  Log in</strong></ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <!-- <ion-text class="error" text-center>{{error}}</ion-text> -->
            </ion-col>
          </ion-row>
        </form>
          <ion-row>
            <ion-col>
              <ion-text  class="block ion-text-center">Don't have an account yet ?
                <span class="bold" routerLink="/signup">Sign Up here</span></ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text  class="block bold ion-text-center" routerLink="/forgot">Forgot Password</ion-text>
            </ion-col>
          </ion-row>
  
      
          <!-- <ion-button expand="full" type="submit" color="success" class="btn-facebook">
            <ion-icon name="logo-facebook" style ="color:#ffffff"></ion-icon>
          </ion-button> -->
  
          <ion-button expand="full" type="submit" color="secondary" class="btn-google" (click)="LoginGoogle()">
          <ion-icon name="logo-googleplus" style ="color:#ffffff"></ion-icon>
          </ion-button>
         
        
        </ion-card-content>
      </ion-card>
     
    </div>
    
     
  </ion-content>
  
  
  
  