<ion-app>
  <ion-menu side="end" menuId="first" contentId="content1">
      <ion-header >
        <ion-toolbar color="danger">
          <ion-title text-center>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list  *ngFor="let pages of navigate" >
        <ion-menu-toggle auto-hide="true" >
          <ion-item [routerLink]="pages.url" routerDirection="forward" >
              <ion-icon [name]="pages.icon" slot="start" color="tertiary"></ion-icon>
                 {{pages.title}} 
          </ion-item>
        </ion-menu-toggle>
        
        </ion-list>
        <ion-item (click)="logoutClicked()">
          <ion-icon color="dark" slot="start" name="log-out"></ion-icon>
          Logout
        </ion-item>

     
          
      </ion-content>
    </ion-menu>
<ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>