<ion-header>
  <ion-toolbar _ngcontent-odn-c3="" color="danger" 
  ng-reflect-color="danger" 
  class="md ion-color ion-color-danger hydrated">
  <img _ngcontent-odn-c3="" class="CyrusLogoWhite" 
  margin-vertical="" no-margin="" 
  src="/assets/svg/cyrusLogo.svg" text-center="">
  </ion-toolbar>
  
  </ion-header>
  <ion-toolbar no-border-top color="tertiary">
    
      <ion-item color="tertiary">
      <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="promotions">
          <ion-icon color="light" name="heart"></ion-icon>
        </ion-segment-button>
      
        <ion-segment-button value="local">
            <ion-icon color="light" name="heart-empty"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    </ion-toolbar>
  
  <ion-content padding color="tertiary">
      <div [ngSwitch]="segment">
      <ion-list *ngSwitchCase="'promotions'" >
        <ion-card *ngFor="let promo of [1,1,1,1]" color="light" mode="ios">
            <ion-img src="/assets/images/1.jpg" ></ion-img>
              <ion-card-header>
                <ion-row>
                  <ion-col size="8" >
                      <ion-card-title>1 Restaurante 3x1</ion-card-title>
                  </ion-col>
                  <ion-col size="2" >
                      <ion-icon style="color:#DB0E0E;font-size: 20px;" name="heart"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-card-header>
          </ion-card>
       </ion-list>
            <ion-list *ngSwitchCase="'local'" >
              


            </ion-list>
     </div>
  
      
      
     
  </ion-content>