.circle-photo-user{
    
    width: 80px;
    height: 80px;
    display:block;
    margin:auto;
}

.redeemed{
    width: 50px;
    height: 50px;
}
.CyrusLogoWhite{
    width: 110px;
    display:block;
    margin:auto;
    //height: 65px;
   }
   
   ion-list{
    background: #333333;
    }

   .borderShadow{
       //color: #333333;

   }