
.custon-nav{
    // height: 48px;
    // width: 100%;
    cursor: pointer;
  
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .prev-icon-custom.disabled{
    opacity: 0.4;
    cursor: default;
  }
  .next-icon-custom.disabled{
    opacity: 0.4;
    cursor: default;
  }
  .slider-nav{
    ion-icon{
        height: 100%;
    }
   }
  .nameRestau {
    font-size: 120%;
    float: left;
    padding: 0px 1px 1px 15px;
    font-weight: 600;
  }
  ion-card app-animated-like { 
    position: absolute; 
    top: 120px; 
    right: 15px;
   // border: 1px solid;
     }

     .title-views{
       font-weight: bold;
       
     }

     .CyrusLogoWhite{
      width: 110px;
      display:block;
      margin:auto;
      //height: 65px;
     }

     .caracteristics-img{
      border-radius: 1px;
      width: 400px;
      height: 200px;
      display:block;
      margin:auto;
      //height: 65px;
     }

     img{
      width:100%;
      height:100%;
    }
    
    .myCard{
      position:relative;
    
    }
    
    .star-promo{
      position: absolute;
      color: #DB0E0E;
      top: -1%;
      font-size:30px;
      left:10px;
    }

   