<ion-header translucent>
  <ion-toolbar color="danger"> <br>
    <img src="assets/svg/cyrusLogo.svg"
     class="CyrusLogoWhite text-center no-margin margin-vertical"><br>
     <ion-toolbar color="danger">
    <ion-searchbar name="search" (ionChange)="PostSearch($event)">
  </ion-searchbar>
    </ion-toolbar>
    </ion-toolbar>
    <ion-toolbar color="danger">
     
      <ion-card color="light" mode="ios">
     <ion-item *ngFor="let foods of promo" (click)="SearchNextPage($event, foods)">
         <ion-grid>
           <ion-row>
           <ion-col>
               <ion-avatar>
                   <img src="https://cyrustheapp.com/public/images/promotions/{{foods.photo}}">
               </ion-avatar>
           </ion-col>
           <ion-col>
               <ion-card-title class="text-center">{{foods.name}}</ion-card-title>
            
               <ion-card-title class="text-center">{{foods.local.name}}</ion-card-title>
           </ion-col>
           <ion-col>
               &nbsp;
           </ion-col>
           </ion-row>
       </ion-grid>
     </ion-item> 
   </ion-card>

          <ion-card color="light" mode="ios">
          <ion-item *ngFor="let locals of local" (click)="SearchNextPage($event, foods)">
              <ion-grid>
                <ion-row>
                <ion-col>
                    <ion-avatar>
                        <img src="https://cyrustheapp.com/public/images/local/{{locals.photo}}">
                    </ion-avatar>
                </ion-col>
                <ion-col>
                    <ion-card-title class="text-center">{{locals.name}}</ion-card-title>
                </ion-col>
                <ion-col>
                    &nbsp;
                </ion-col>
                </ion-row>
            </ion-grid>
          </ion-item> 
        </ion-card> 

        <ion-card color="light" mode="ios">
            <ion-item *ngFor="let locals of local" (click)="SearchNextPage($event, foods)">
                <ion-grid>
                  <ion-row>
                  <ion-col>
                      <ion-avatar>
                          <img src="https://cyrustheapp.com/public/images/promotions/{{foods.photo}}">
                      </ion-avatar>
                  </ion-col>
                  <ion-col>
                      <ion-card-title class="text-center">{{locals.name}}</ion-card-title>
                  <ion-card-title class="text-center">{{foods.local.name}}</ion-card-title>
                  </ion-col>
                  <ion-col>
                      &nbsp;
                  </ion-col>
                  </ion-row>
              </ion-grid>
            </ion-item> 
          </ion-card> 
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let foods of lupa">
        <ion-img src="https://cyrustheapp.com/public/images/promotions/{{foods.photo}}" 
        ></ion-img>
      </ion-list> 


<ion-content color="tertiary">
  
    <ion-grid>
        <ion-row>
          <ion-col size="1">
            <span class="slider-nav arrow-prev"
              (click)="slidePrev(sliderOne,slideWithNav)">
              <div class="prev-icon-custom custon-nav"
                [class.disabled]="sliderOne.isBeginningSlide"></div>
            </span>
          </ion-col>
          <ion-col size="12">
     
            <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
              (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
              <ion-slide *ngFor="let s of sliderOne.slidesItems">
                <img src="https://cyrustheapp.com/public/images/promotions/ceviche.jpg">
              </ion-slide>
            </ion-slides>
     
          </ion-col>
          <ion-col size="1">
            <span class="slider-nav arrow-next"
              (click)="slideNext(sliderOne,slideWithNav)">
              <div class="next-icon-custom custon-nav"
                [class.disabled]="sliderOne.isEndSlide"></div>
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    
      <!--dows is of slides and images-->
 
     <br>
     <ion-text class="title-views ion-text-center">
          <h4 class="text-center">Most Visited</h4>
     </ion-text>
    
     <!-- <div routerLink="/tabs/promo-description">fgfgf</div> -->
   
   <ion-slides [options]="sliderConfig" scrollbar="true">
     <ion-slide *ngFor="let promotion of promotions" (click)="onGoToNextPage($event, promotion)">
   
       <ion-card routerLink="/tabs/promo-description" color="light" mode="ios">
        
           <img src="https://cyrustheapp.com/public/images/promotions/{{promotion.photo}}" 
           style="width:360px;height:100px;">
           
           <ion-icon class="star-promo" name="star"></ion-icon>
           <ion-card-header>
              <ion-card-title>{{promotion.promoname}}</ion-card-title>
              <ion-card-subtitle>{{promotion.promoimg}}</ion-card-subtitle>
           </ion-card-header>
       </ion-card>
    </ion-slide>
    </ion-slides> 
  
          
    <ion-item color="tertiary"></ion-item><!--used as HR to place a line-->
       <br>
      <ion-text class="title-views">
         <h4 class="text-center">Recommended</h4>
      </ion-text>
 
      <ion-slides [options]="sliderConfig" (ionSlideDidChange)="slideChanged()" scrollbar="true">
          <ion-slide >
        
            <ion-card routerLink="/promo-description" color="light" mode="ios">
                <img src="#" 
                style="width:360px;height:100px;">
                <ion-card-header>
                   <ion-card-title> </ion-card-title>
                   <ion-card-subtitle></ion-card-subtitle>
                </ion-card-header>
            </ion-card>
         </ion-slide>
         </ion-slides> 

  <ion-item color="tertiary"></ion-item><!--used as HR to place a line-->
       <br>
    <ion-text class="title-views">
       <h4 class="text-center">Near you</h4>
    </ion-text>

    <ion-slides [options]="sliderConfig" (ionSlideDidChange)="slideChanged()" scrollbar="true">
        <ion-slide >
      
          <ion-card routerLink="/promo-description" color="light" mode="ios">
              <img src="#" 
              style="width:360px;height:100px;">
              <ion-card-header>
                 <ion-card-title> </ion-card-title>
                 <ion-card-subtitle></ion-card-subtitle>
              </ion-card-header>
          </ion-card>
       </ion-slide>
    </ion-slides> 

    <ion-item color="tertiary"></ion-item><!--used as HR to place a line-->
    
    <br>
    <ion-text class="title-views">
      <h4 class="text-center">More Punctuation</h4>
    </ion-text>

    <ion-slides [options]="sliderConfig" (ionSlideDidChange)="slideChanged()" scrollbar="true">
        <ion-slide >
      
          <ion-card routerLink="/promo-description" color="light" mode="ios">
              <img src="#" 
              style="width:360px;height:100px;">
              <ion-card-header>
                 <ion-card-title> </ion-card-title>
                 <ion-card-subtitle></ion-card-subtitle>
              </ion-card-header>
          </ion-card>
       </ion-slide>
       </ion-slides> 
 
</ion-content>
