<ion-header>
  <ion-toolbar color="tertiary">
      <ion-toolbar color="danger"> 
          <img src="/assets/svg/cyrusLogo.svg"
          no-margin margin-vertical text-center class="CyrusLogoWhite">
          </ion-toolbar>
  </ion-toolbar>
</ion-header>


<ion-content padding color="tertiary">
<ion-grid>
<ion-row>
  <ion-col>
      <ion-card *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode" ></ngx-qrcode>
        </ion-card>
      </ion-col>
    </ion-row>
</ion-grid>
  
    <ion-grid>
        <ion-row>
          <ion-col>
              &nbsp;
          </ion-col>
          <ion-col>
             &nbsp;
          </ion-col>
        <ion-button size="small" color="secondary" shape="round" 
        (click)="createCode()" class="btn-qr">
            Generate 
        </ion-button>
      <ion-col>
         &nbsp; 
      </ion-col>
              
        <ion-col>
             &nbsp;
        </ion-col>
        </ion-row>
      </ion-grid>
      <ion-chip class="promotion-qr" color="secondary">
          <ion-icon style="color:#ECEFF1" name="restaurant"></ion-icon>
        <ion-label color="light">share your promotion</ion-label>
      </ion-chip>
     
      <ion-fab horizontal="end" vertical="bottom" class="btn-sharingQR">
        <ion-fab-button color="secondary">
          <ion-icon name="share"></ion-icon>
      </ion-fab-button>

        <ion-fab-list side="start">
          <ion-fab-button (click)="shareWhatsApp()">
            <ion-icon style="color:#4DB6AC" name="logo-whatsapp"
            ></ion-icon></ion-fab-button>

          <ion-fab-button (click)="shareFacebook()">
            <ion-icon color="success" name="logo-facebook"
          ></ion-icon></ion-fab-button>

          <ion-fab-button (click)="shareInstagram()">
            <ion-icon style="color:#EC407A" name="logo-instagram"
            ></ion-icon></ion-fab-button>
          
        </ion-fab-list>
      </ion-fab>
</ion-content>


