.btn-qr{
    position: absolute;
    top:87%;
    left: 36%;
    //border: 0px solid #ffffff;
    display:block;
    margin:auto;
    
}

@media only screen and (max-width: 320px) {
    .btn-qr{
        position: absolute;
        top:105%;
        left: 36%;
        //border: 0px solid #ffffff;
        display:block;
        margin:auto;
        
    }
  }

 .btn-sharingQR{
    position: absolute;
    top:105%;
   
 }


  @media only screen and (max-width: 360px) {
    .btn-sharingQR{
        position: absolute;
        top:90%;
        
     }
  }

  
  @media only screen and (max-width: 320px) {
    .btn-sharingQR{
        position: absolute;
        top:50px;
               
     }
  }
  @media only screen and (max-width: 414px) {
    .btn-sharingQR{
        position: absolute;
        top:77%;
       
     }
  }

  .promotion-qr{
    position: absolute;
    top:70%;
    left: 20%;
   
  }
  .CyrusLogoWhite{
    width: 110px;
    display:block;
    margin:auto;
    //height: 65px;
   }