<ion-header>
  <ion-toolbar color="danger"> 
      <img src="assets/svg/cyrusLogo.svg"
       class="CyrusLogoWhite ion-no-margin ion-margin-vertical ion-text-center">
      </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <br>
    <ion-text>
        <h2 class="ion-no-margin ion-margin-vertical ion-text-center">Edit Profile</h2>
      </ion-text>
    
      <form [formGroup]="user" (ngSubmit)="saveData()">

  <ion-card color="light" mode="ios"><br>
      <img src={{this.photoURL}}
       class="circle-photo-user ion-no-margin ion-margin-vertical ion-text-center">
      <h2 class="ion-no-margin ion-margin-vertical ion-text-center">{{displayName}}</h2>
  </ion-card>
  
   <ion-card color="light" mode="ios">
      <ion-input clearInput type="text" class="input ion-padding-horizontal"
      clear-input="true" maxlength="20" placeholder=Name formControlName="name"></ion-input>
   </ion-card>

   <!-- <ion-card color="light" mode="ios">
      <ion-input clearInput type="text" class="input"
      padding-horizontal clear-input="true" maxlength="20" placeholder="Surname"></ion-input>
   </ion-card> -->

   <ion-card color="light" mode="ios">
      <ion-input clearInput type="text" class="input ion-padding-horizontal"
      clear-input="true" maxlength="20" placeholder="Last Name" formControlName="last_name"></ion-input>
   </ion-card>
   
   <!-- <ion-card color="light" mode="ios">
      <ion-input clearInput type="text" class="input"
      padding-horizontal clear-input="true" maxlength="200" placeholder="Address"></ion-input>
   </ion-card> -->
     
   <!-- <ion-card color="light" mode="ios">
      <ion-item>
          <ion-label>Gender</ion-label>
          <ion-select placeholder="Select One">
            <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="m">Male</ion-select-option>
          </ion-select>
        </ion-item>
   </ion-card> -->
   
   <!-- <ion-card color="light" mode="ios">
      <ion-input clearInput type="number" class="input"
      padding-horizontal clear-input="true" maxlength="2" placeholder="Age"></ion-input>
   </ion-card> -->

   <ion-card color="light" mode="ios">
      <ion-input clearInput type="number" class="input ion-padding-horizontal"
       clear-input="true" maxlength="2" placeholder="Phone" formControlName="phone"></ion-input>
   </ion-card>

   <!-- <ion-card color="light" mode="ios">
      <ion-input clearInput type="email" type="email" padding-horizontal class="input" 
       clear-input="true" placeholder="Email"></ion-input>
   </ion-card> -->

    <ion-grid>
      <ion-row>
        <ion-col>
            &nbsp;
        </ion-col>
        <ion-col>
            &nbsp;
        </ion-col>
        <ion-button  type="submit" shape="round" color="danger">save</ion-button>
        <ion-col>
            &nbsp;
        </ion-col>
        <ion-col>
            &nbsp;
        </ion-col>
      </ion-row>
    </ion-grid>
  </form> 
  </ion-content>