<ion-header no-border>
    <ion-toolbar color="danger">
        <br>
        <img src="assets/svg/cyrusLogo.svg"
         class="CyrusLogoWhite text-center no-margin margin-vertical">
      <!-- <ion-buttons slot="start"> -->
          <!-- <ion-back-button defaultHref="/tabs/home"></ion-back-button> -->
        <!-- <ion-back-button defaultHref="/tabs/promo-description"></ion-back-button> -->
      <!-- </ion-buttons> -->
      <br>
    </ion-toolbar>
  </ion-header>

  
  <ion-content color="tertiary">
    <ion-card color="light" mode="ios">
        <ion-img src="https://cyrustheapp.com/public/images/local/{{this.localPhoto}}"></ion-img>
        <ion-row>
          <ion-col>
              &nbsp;
          </ion-col>
                    
              <ion-fab horizontal="end" vertical="bottom" class="sharingRestaurante">
                  <ion-fab-button color="secondary">
                    <ion-icon name="share"></ion-icon>
                </ion-fab-button>
        
                  <ion-fab-list side="start">
                    <ion-fab-button (click)="shareWhatsApp()">
                      <ion-icon style="color:#4DB6AC" name="logo-whatsapp"
                      ></ion-icon></ion-fab-button>
        
                    <ion-fab-button (click)="shareFacebook()">
                      <ion-icon color="success" name="logo-facebook"
                    ></ion-icon></ion-fab-button>
        
                    <ion-fab-button (click)="shareInstagram()">
                      <ion-icon style="color:#EC407A" name="logo-instagram"
                      ></ion-icon></ion-fab-button>
                    
                  </ion-fab-list>
                </ion-fab>
          
           <ion-col>
              <ion-icon class="btn-heart" name="heart"></ion-icon> 
            </ion-col>
        </ion-row>
        <br>
      <ion-card-header>
        <ion-card-subtitle>Restaurant</ion-card-subtitle>
        
        <ion-card-title>{{localname}}</ion-card-title>
      </ion-card-header>
       
      
        <ion-card-content>
          {{ localdescription }}
        </ion-card-content>
        <ion-row>
          <ion-col>
              &nbsp;
          </ion-col>
          <ion-col>
              <ion-icon routerLink="/tabs/gallery" style="font-size: 20px;" color="danger" name="images"></ion-icon><br>
              <small class="title-icon">Gallery</small>
            </ion-col>
          <ion-col>
              <ion-icon style="font-size: 20px;" color="danger" 
              src="/assets/svg/Reserve.svg" routerLink="/reservation"></ion-icon><br>
              <small class="title-icon">Reserve</small>
          </ion-col>
          <ion-col>
              <ion-icon style="font-size: 20px;" color="danger" 
              src="/assets/svg/Carta.svg" ></ion-icon><br>
              <small class="title-icon">Letter</small><br>
          </ion-col>
        </ion-row><br>
    </ion-card>
   
  
    <!-- <ion-card mode="ios" color="light">
     <ion-card-content>
     <small><strong>Reviews</strong></small>
    </ion-card-content>
   </ion-card>  -->
  
   <ion-card color="light" mode="ios">
    <ion-grid>
        <ion-row>
          <ion-col>
            <p>Raiting</p>
          </ion-col>
          <ion-col>
            <rating [(ngModel)]="rate"
            readonly="false" 
            size="small" 
            (ngModelChange)="localRaiting($event)">
            </rating>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    
    <!-- <rating [(ngModel)]="rate"
          readonly="false" 
          size="default" 
          (ngModelChange)="localRaiting($event)">
  </rating> -->
  </ion-content>
  