<ion-header>

  <ion-toolbar color="danger"> 
    <img src="assets/svg/cyrusLogo.svg"
     class="CyrusLogoWhite ion-no-margin ion-margin-vertical ion-text-center">
    </ion-toolbar>

</ion-header>


<ion-content color="tertiary">
    <ion-grid>
        <ion-row>
          <ion-col size="12">
  <img src="https://cyrustheapp.com/public/images/promotions/{{this.clickedpromotion.photo}}">
          </ion-col>
        </ion-row>
    </ion-grid>
<!-- Promotion -->
    <ion-grid>
        <ion-row>
            <ion-col  size="4"  >
                <p style="font-size: 17px" class="ion-text-center">{{this.clickedpromotion.name}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
<!-- Sharing -->
    <ion-fab horizontal="end" vertical="bottom" class="sharingPromo">
        <ion-fab-button color="secondary">
          <ion-icon name="share"></ion-icon>
      </ion-fab-button>

        <ion-fab-list side="start">
          <ion-fab-button (click)="shareWhatsApp()">
            <ion-icon style="color:#4DB6AC" name="logo-whatsapp"
            ></ion-icon></ion-fab-button>

          <ion-fab-button (click)="shareFacebook()">
            <ion-icon color="success" name="logo-facebook"
          ></ion-icon></ion-fab-button>

          <ion-fab-button (click)="shareInstagram()">
            <ion-icon style="color:#EC407A" name="logo-instagram"
            ></ion-icon></ion-fab-button>
          
        </ion-fab-list>
      </ion-fab>
    <!-- Promotion -->
    <ion-card color="light" mode="ios">
        <ion-grid>
             <ion-row>
                <ion-col>
                   <p>{{this.clickedpromotion.description}}</p>
              </ion-col>
            </ion-row>
        </ion-grid>
     </ion-card>

<!-- Points -->
<ion-card color="light" mode="ios"> 
  <ion-grid>
       <ion-row>
           <ion-col>
              <p>Puntos a canjear</p>
          </ion-col>
  
          <ion-col>
             <div class="flex-container1">
                  <ion-img src="assets/images/pointGold.png" id="img-pointBlue"></ion-img>
               <h4 style="color: #ffc919">&nbsp;{{total_gold_points}}</h4>
              </div>
          </ion-col>
  
          <ion-col>
             <div class="flex-container">
               <ion-img src="assets/images/pointBlue.png" id="img-pointBlue"></ion-img>
              <h4 style="color: #141466">&nbsp;{{total_basic_points}}</h4>
             </div>
          </ion-col>
  
       </ion-row>
   </ion-grid>
  </ion-card>

  <ion-card color="light" mode="ios"> 
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <p>Monto por puntos acumulados</p>
        </ion-col>
        <ion-col>
          <h4 class="amount_points">s/0.0</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- Raiting -->
  <ion-card color="light" mode="ios">
      <ion-grid>
          <ion-row>
            <ion-col>
              <p>Raiting</p>
            </ion-col>
            <ion-col>
              <rating [(ngModel)]="rate"
              readonly="false" 
              size="small" 
              (ngModelChange)="promoRaiting($event)">
              </rating>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

<!-- Redeem Promotion -->
<ion-grid>
  <ion-row>
   <ion-col>
       &nbsp;
   </ion-col>
   <ion-col>
       &nbsp;
   </ion-col>
   <ion-button shape="round" color="danger"(click)="onGoToNextPage($event, promotion)">Redeem promotion</ion-button>
   <ion-col>
     </ion-col>
     <ion-button  shape="round" color="primary" (click)="fuctionPoints()">Boton de prueba Check In</ion-button>
     <ion-col>
       &nbsp;
   </ion-col>
   <ion-col>
       &nbsp;
   </ion-col>
 </ion-row>
</ion-grid>

<!-- ASOCIATED RESTAURANT IMG WITH PROMO -->
<ion-grid>
  <ion-row>
    <ion-col size="12">
      <img src="https://cyrustheapp.com/public/images/local/{{this.localPhoto}}" style="width: 100%; height: 130px;"/>
    </ion-col>
  </ion-row>
</ion-grid>

<h4    class="ion-text-center ion-margin-vertical ion-no-margin">Briel Restaurant</h4>
<ion-grid>
  <ion-row>
    <ion-col>
        &nbsp;
    </ion-col>
    <ion-col>
        &nbsp;
    </ion-col>
    <ion-icon class="btn-icon" name="add-circle-outline" color="danger" (click)="Restorant()" ></ion-icon>
    <ion-col>
        &nbsp;
    </ion-col>
    <ion-col>
        &nbsp;
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
