<ion-header>
  <ion-toolbar _ngcontent-odn-c3="" color="danger" 
  ng-reflect-color="danger" 
  class="md ion-color ion-color-danger hydrated">
  <img _ngcontent-odn-c3="" class="CyrusLogoWhite" 
  margin-vertical="" no-margin="" 
  src="assets/svg/logo-login.png" text-center="">
  </ion-toolbar>
</ion-header>
    
    <ion-content color="tertiary">
        <ion-card color="warning" mode="ios">
            <ion-grid>
                <ion-row>
                  <ion-col size="4">
                      &nbsp;
                  </ion-col>
                  <ion-col size="4">
                       <img src={{this.provider}}
                         class="circle-photo-user ion-no-margin ion-margin-vertical ion-text-center">
                   </ion-col>
                  <ion-col size="2">
                      &nbsp;
                  </ion-col>
                  <ion-col>
                     <ion-button color="warning" routerLink="/edit-profile"> <ion-icon name="settings" 
                      style="font-size: 30px;position:absolute;top:5%;color:#ffffff"
                      ></ion-icon>
                     </ion-button>
                    </ion-col>
                </ion-row>
                <h5 class="ion-text-center">{{this.name}} {{ this.last_name }}</h5>
            </ion-grid>
      
          <ion-card color="light" mode="ios">
            <ion-grid>
              <ion-row>
              <ion-col>
                  <ion-avatar>
                      <img src="https://cyrustheapp.com/public/images/ingsingnias/{{this.insignia}}">
                  </ion-avatar>
              </ion-col>
              <ion-col>
                  <ion-card-title class="ion-text-center">{{this.level_name}}</ion-card-title>
                  <ion-card-subtitle class="ion-text-center">Level</ion-card-subtitle>
                  <ion-card-title class="ion-text-center">{{this.level}}</ion-card-title>
              </ion-col>
              <!-- <ion-col>
                  &nbsp;
              </ion-col>  -->
              <ion-col>
                  &nbsp;
              </ion-col>
              </ion-row>
          </ion-grid>
           
              <ion-grid>
                  <ion-row>
                    <ion-col>
                        &nbsp;
                    </ion-col>
                    <ion-col>
                        &nbsp;
                    </ion-col>
                    <ion-col size="5">
                          <ion-chip class="btn-user-danger">
                              <ion-label (click)="goToNextPage()" color="secondary">Benefits</ion-label>
                          </ion-chip>
                 
                    </ion-col>
                  </ion-row>
              </ion-grid>
        
          </ion-card>
    
        <ion-card color="light" mode="ios">
          <ion-card-header>
                 <ion-card-title>Level up</ion-card-title>
          </ion-card-header>
             <ion-card-content>
                <!-- <ion-progress-bar color="danger"[progress]="this.total_experience" "></ion-progress-bar><br> -->
                <progress-bar [progress]="this.total_experience"
                [color-degraded]="{'1': '#00cbcb',  '25': '#DB0E0E', '75': '#fd8c8e'}">
                </progress-bar>
                <!--  -->
                 <small class="subTitle-user">{{this.necessary_experience_for_next_level}} Until level</small>
                <ion-grid>
                    <ion-row>
                        <ion-col size="4">
                            &nbsp;
                        </ion-col>
                        <ion-col>
                        
                        <!-- <a class="btn-user-danger" color="danger">see benefits of the  ></a> -->

                         <ion-chip  class="btn-user-level">
                              <ion-label (click)="goToNextLevel()"  color="secondary">next level</ion-label>
                          </ion-chip>
                        </ion-col>
                    </ion-row>
                </ion-grid><br>
            </ion-card-content>
            </ion-card>
    
            <ion-card color="light" mode="ios">
                <ion-card-header>
                       <ion-card-title>My experience earned</ion-card-title>
                </ion-card-header>
                   <ion-card-content>
                        <small class="subTitle-user">You have: {{this.total_experience}}</small><br>
                    <ion-grid>
                        <ion-row>
                        <ion-col>
                            &nbsp;
                        </ion-col>
                       
                        <ion-col>
                          <ion-chip class="btn-user-earn">
                              <ion-label (click)="goToEarnPoints()" color="secondary">How to earn</ion-label>
                          </ion-chip>
                        </ion-col>
                    </ion-row>
                      </ion-grid>
                  </ion-card-content>
                  </ion-card>
                         <ion-button expand="block" routerLink="/tabs/points" color="success">
                            <ion-icon slot="end" name="star"></ion-icon>
                            My points  &nbsp;({{total_basic_points}})
                          </ion-button><br>
                     <ion-button routerLink="/tabs/more-points" expand="block" color="danger">Get more points</ion-button>
            </ion-card>
      </ion-content>
    