.circle-photo-user{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display:block;
    margin:auto;
}
  a{
    
    color:#D50000;
  }

  .subTitle-user{
    left: 30%;
    font-weight: bold;
    position: absolute;
    font-size: 14px;
  }

  .btn-user-level{
    position:absolute;
    left: 70px;
  }

  .btn-user-earn{
    position: absolute;
    right: 20px;
  }
  // ion-card {
  //   background: -moz-linear-gradient(top, rgba(175,175,175,0.61) 0%, rgba(213,213,213,0.06) 47%, rgba(255,255,255,0.06) 100%); /* FF3.6-15 */
  //   background: -webkit-linear-gradient(top, rgba(175,175,175,0.61) 0%,rgba(213,213,213,0.06) 47%,rgba(255,255,255,0.06) 100%); /* Chrome10-25,Safari5.1-6 */
  //   background: linear-gradient(to bottom, rgba(175,175,175,0.61) 0%,rgba(213,213,213,0.06) 47%,rgba(255,255,255,0.06) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cafafaf', endColorstr='#0fffffff',GradientType=0 );
  // }

  .CyrusLogoWhite{
    width: 110px;
    display:block;
    margin:auto;
    //height: 65px;
   }
  