<ion-header>
    <ion-toolbar color="danger"> 
        <img src="/assets/svg/cyrusLogo.svg"
         class="CyrusLogoWhite ion-no-margin ion-margin-vertical ion-text-center">
        </ion-toolbar>
</ion-header>

<ion-toolbar no-border-top color="tertiary">
  <ion-item color="tertiary">

    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="category"(click)="showPromoCategory()">
        <ion-icon color="light" name="globe"></ion-icon>
      </ion-segment-button>
    
      <ion-segment-button value="geolocat" (click)="loadMap()">
          <ion-icon color="light" name="pin"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-item>
  </ion-toolbar>

<ion-content class="ion-padding" color="tertiary">
    <div [ngSwitch]="segment" fxLayout="row">
        <ion-list *ngSwitchCase="'category'" >
          <ion-grid >
              <ion-row>
                  <ion-col>
                    <ion-list *ngFor="let categorys of category" >
                      <p>{{categorys.category}} -- {{categorys.image}}</p>
                    <img src="assets/images/China.jpg">
                  </ion-list>
                  </ion-col>
                   <!-- <ion-col> 
                      <img src="assets/images/Mexican.jpg">
                   </ion-col>
                    <ion-col>
                       <img src="assets/images/Fast.jpg">
                   </ion-col> -->
              </ion-row>
              <br>


          </ion-grid>

        </ion-list>


        <ion-list *ngSwitchCase="'geolocat'" >
          <ion-list>
              <!-- <ion-button (click)="loadMap()" shape="round" fill="outline" color="light">
                  <ion-icon slot="start" name="locate"></ion-icon>
                  maps
              </ion-button> -->

              <ion-button shape="round" fill="outline" (click)="addMarker()">agregar</ion-button>
         
          
          <div class="map-wrapper">
              <div id="map_center">
                <ion-icon color="danger" style="font-size:30px;" name="pin"></ion-icon>
              </div>
              <div #map id="map"></div>
            </div>
            <!-- <div id="address">
              <span>{{address}}</span>
              
            </div> -->
            <br>
            
          </ion-list>
            
        </ion-list>
   </div>

    
    
   
</ion-content>